
@media (max-width: 900px) {
  html{
    font-size: 50%;
  }
   
  }
@media(max-width:800px){
  .right{
    display: none;
  }
  .nav-btn{
    display: none;
  }
  .news-science{
    flex-direction: column;
    align-items: center;
  }
  .science-content{
    padding: 2rem;
  }
  .rel{
    flex-direction: column;
  }
  .video-text{
    width: 80%;
  }
  .video-image{
    width: 80%;
  }
} 

@media(max-width:950px){
  .explore {
    height:40vh;
  }
}
@media (max-width:650px){
  html{
    font-size: 45%;
  }
  .resp-btn{
    display: block;
  }
  .menu{
    display: none;
  }
}

@media(max-width:600px){
  .banner-box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* margin-top: 50rem; */
  }
  
  .banner{
    height: auto;
    height: 150vh;
  }
  .banner-card{
    width: 35rem;
    box-sizing: border-box;
  }
  .hero {
    height: 80vh;
  }
  .video{
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:500px){
  .feature-cards{
    flex-direction: column;
    align-items: center;
    gap: 7rem;
  }
  .feature-card{
    width: 70%;
  }
  .explore {
    height:50vh;
  }
  .explore-content{
    width: 50%;
    height: 70%;
  }
  .explore-heading{
    margin-bottom: 5rem;
  }
}
@media(max-width:420px){
  .banner{
    height: auto;
    height: 200vh;
  }
}
@media(max-width:350px){
  html{
    font-size: 40%;
  }
}
  